@bl-customComponent-totop-theme: @themePrimary;
@bl-customComponent-totop-themeTextColor: @appTextColor;

@bl-customComponent-totop-background-color: if(@isLightTheme, rgba(0, 0, 0, 0.04), rgba(255, 255, 255, 0.04));
@bl-customComponent-totop-hover-background-color: fade(@bl-customComponent-totop-background-color, 20%);

@bl-customComponent-totop-size: 20px;
@bl-customComponent-totop-padding: 10px;
@bl-customComponent-totop-border-radius: 50%;
@bl-customComponent-totop-z-index: 999;

@bl-customComponent-totop-cursor: pointer;

.bl-customComponent-totop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: @bl-customComponent-totop-z-index;
  bottom: @bl-customComponent-totop-size;
  right: @bl-customComponent-totop-size;
  background-color: @bl-customComponent-totop-background-color;
  color: @bl-customComponent-totop-themeTextColor;
  padding: @bl-customComponent-totop-padding;
  border-radius: @bl-customComponent-totop-border-radius;
  cursor: @bl-customComponent-totop-cursor;
  user-select: none;

  &:hover {
    background-color: @bl-customComponent-totop-hover-background-color;
  }

  .totop__icon {
    width: @bl-customComponent-totop-size;
    height: @bl-customComponent-totop-size;
    fill: @bl-customComponent-totop-themeTextColor;
  }
}
