@bl-customComponent-collapsiblePanel-theme: @themePrimary;
@bl-customComponent-collapsiblePanel-themeTextColor: @appTextColor;

@bl-customComponent-collapsiblePanel-background-color: if(@isLightTheme, rgba(0, 0, 0, 0.04), rgba(255, 255, 255, 0.04));
@bl-customComponent-collapsiblePanel-hover-background-color: fade(@bl-customComponent-collapsiblePanel-background-color, 20%);

@bl-customComponent-collapsiblePanel-width: 100%;
@bl-customComponent-collapsiblePanel-padding: 10px 14px;
@bl-customComponent-collapsiblePanel-content-open-maxHeight: 100%;
@bl-customComponent-collapsiblePanel-content-animationName-open: collapsiblePanel-animation-open;
@bl-customComponent-collapsiblePanel-content-animationName-close: collapsiblePanel-animation-close;
@bl-customComponent-collapsiblePanel-content-animationDuration: 0.3s;


@bl-customComponent-collapsiblePanel-title-fontSize: 26px;
@bl-customComponent-collapsiblePanel-title-icon-width: 1.5em;
@bl-customComponent-collapsiblePanel-title-icon-height: 1.5em;
@bl-customComponent-collapsiblePanel-title-icon-color: @bl-customComponent-collapsiblePanel-themeTextColor;
@bl-customComponent-collapsiblePanel-title-icon-transition: all 0.3s ease-in-out;
@bl-customComponent-collapsiblePanel-title-icon-transform: rotateZ(180deg);

@bl-customComponent-collapsiblePanel-cursor: pointer;

.bl-customComponent-collapsiblePanel {
  width: @bl-customComponent-collapsiblePanel-width;

  .panel-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: @bl-customComponent-collapsiblePanel-width;
    padding: @bl-customComponent-collapsiblePanel-padding;
    font-size: @bl-customComponent-collapsiblePanel-title-fontSize;
    background-color: @bl-customComponent-collapsiblePanel-background-color;
    color: @bl-customComponent-collapsiblePanel-themeTextColor;
    cursor: @bl-customComponent-collapsiblePanel-cursor;

    &:hover {
      background-color: @bl-customComponent-collapsiblePanel-hover-background-color;
    }

    .collapse-icon {
      width: @bl-customComponent-collapsiblePanel-title-icon-width;
      height: @bl-customComponent-collapsiblePanel-title-icon-height;
      fill: @bl-customComponent-collapsiblePanel-title-icon-color;
      transition: @bl-customComponent-collapsiblePanel-title-icon-transition;
      user-select: none;

      &.active {
        transform: @bl-customComponent-collapsiblePanel-title-icon-transform;
      }
    }
  }

  .panel-content {
    display: flex;
    width: @bl-customComponent-collapsiblePanel-width;
    height: 0;
    overflow: hidden;
    animation-duration: @bl-customComponent-collapsiblePanel-content-animationDuration;

    &.open {
      height: @bl-customComponent-collapsiblePanel-content-open-maxHeight;
      animation-name: @bl-customComponent-collapsiblePanel-content-animationName-open;
    }

    &.close {
      animation-name: @bl-customComponent-collapsiblePanel-content-animationName-close;
    }
  }

}

@keyframes collapsiblePanel-animation-open {
  0% {
    height: 0px; opacity: 0;
  }
  25% {
    height: 25%; opacity: 0.25;
  }
  50% {
    height: 50%; opacity: 0.5;
  }
  75% {
    height: 75%; opacity: 0.75;
  }
  100% {
    height: 100%; opacity: 1;
  }
}

@keyframes collapsiblePanel-animation-close {
  0% {
    height: 100%; opacity: 1;
  }
  25% {
    height: 75%; opacity: 0.75;
  }
  50% {
    height: 50%; opacity: 0.5;
  }
  75% {
    height: 25%; opacity: 0.25;
  }
  100% {
    height: 0px; opacity: 0;
  }
}
