// you can use LESS variables from the current Theme and app extensions of the UI-Container
@bl-customComponent-autocomplete-themeColor: @themePrimary;
@bl-customComponent-autocomplete-backgroundColor: @appBackgroundColor;
@bl-customComponent-autocomplete-textColor: @appTextColor;
@backgroundColorOnHoverPrimary: #28f5be0a;
@boxShadowPrimary:
  0px 2px 1px -1px  @themePrimary,
  0px 1px 1px 0px  @themePrimary,
  0px 1px 3px 0px  @themePrimary;

@bl-customComponent-autocomplete-boxShadow: @boxShadowPrimary;
@bl-customComponent-autocomplete-iconFill: @bl-customComponent-autocomplete-themeColor;
@bl-customComponent-autocomplete-borderRadius: 4px;

@bl-customComponent-autocomplete-optionPadding: 6px 16px;
@bl-customComponent-autocomplete-optionBackgroundColorOnHover: @backgroundColorOnHoverPrimary;
@bl-customComponent-autocomplete-optionsHeight: 40vh;

@bl-customComponent-autocomplete-borderColor-onHover: rgba(@themePrimary, 0.75);

.bl-customComponent-autocomplete {
  position: relative;
  background-color: @bl-customComponent-autocomplete-backgroundColor;
  border-radius: @bl-customComponent-autocomplete-borderRadius;
  display: block;
  width: 300px;

  .autocomplete {
    color: @bl-customComponent-autocomplete-textColor;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: top;
    width: 100%;

    &__text-field {
      position: relative;
      display: inline-flex;
      align-items: center;
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      padding: 9px 39px 9px 9px;
      line-height: 23px;
      color: @bl-customComponent-autocomplete-textColor;
      cursor: text;
      box-sizing: border-box;
      border-radius: @bl-customComponent-autocomplete-borderRadius;
    }
  }

  .options {
    position: absolute;
    width: 300px;
    max-height: @bl-customComponent-autocomplete-optionsHeight;
    box-shadow: @bl-customComponent-autocomplete-boxShadow;
    border-radius: @bl-customComponent-autocomplete-borderRadius;
    margin-top: 55px;
    padding: 8px 0;
    inset: 0 auto auto 0;
    background-color: @bl-customComponent-autocomplete-backgroundColor;
    color: @bl-customComponent-autocomplete-textColor;
    overflow: auto;
    z-index: 100;

    &__placement-top {
      margin-bottom: 55px;
      inset: auto auto 0 0;
    }
  }

  .option {
    min-height: 40px;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    outline: 0;
    padding: @bl-customComponent-autocomplete-optionPadding;

    &:hover  {
      background-color: @bl-customComponent-autocomplete-optionBackgroundColorOnHover;
    }
  }

  .placeholder {
    position: absolute;
    display: block;
    color: @bl-customComponent-autocomplete-textColor;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    padding: 0px;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 24px);
    left: 0px;
    top: 0px;
    transform: translate(14px, 16px) scale(1);
    transition:
      color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    z-index: 1;
    pointer-events: none;

    &__move-up {
      transform: translate(14px, -9px) scale(0.75);
    }
  }


  .button-container {
    position: absolute;
    right: 9px;
    top: 50%;
    height: 28px;
    transform: translateY(-45%);
  }

  .button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    cursor: pointer;
    overflow: visible;
    padding: 2px;
    margin-right: -2px;

    &__popup-up {
      transform: rotate(180deg);
    }
  }

  .icon {
    display: inline-block;
    fill: @bl-customComponent-autocomplete-iconFill;
    width: 24px;
    height: 24px;
  }

  .input {
    &__container {
      display: block;
      height: 23px;
      min-width: 30px;
      flex-grow: 1;
      box-sizing: content-box;
      padding: 7.5px 4px 6px;
      margin: 0;
      animation-duration: 10ms;
    }

    &__field {
      font-size: 16px;
      max-width: 225px;
      background-color: transparent;
      color: @bl-customComponent-autocomplete-textColor;
      width: 100%;
      height: 100%;
      opacity: 1;
      border: 0;
      flex-grow: 1;

      &:focus {
        outline: 0;
      }
    }
  }

  .fieldset {
    position: absolute;
    text-align: left;
    border-radius: inherit;
    margin: 0px;
    inset: -5px 0px 0px;
    border: 1px solid @bl-customComponent-autocomplete-themeColor;
    pointer-events: none;
    overflow: hidden;
  }

  .legend {
    float: unset;
    overflow: hidden;
    display: block;
    font-size: 12px;
    height: 11px;
    width: auto;
    max-width: 0;
    padding: 0px;
    visibility: hidden;
    transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    white-space: nowrap;

    &__with-label {
      max-width: 100%;
      transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
    }
  }
}

.disabled {
  opacity: 0.38;
  pointer-events: none;
  cursor: default;
}

.filled {
  & .autocomplete {
    background-color: #4b4a4a7a;
    border-bottom: 1px solid @bl-customComponent-autocomplete-themeColor;

    &:hover {
      background-color: #706d6d8e;
      transition: background-color .3s;
    }
  }

  & .fieldset {
    border: 0;
  }
}

.standart {
  &.bl-customComponent-autocomplete {
    background-color: transparent;
  }

  & .autocomplete {
    border-bottom: 1px solid @bl-customComponent-autocomplete-themeColor;
    transition: border-bottom-color .2s;

    &:hover {
      border-bottom-color: @bl-customComponent-autocomplete-borderColor-onHover;
    }
  }

  & .fieldset {
    border: 0;
  }
}

.autocomplete-focused .fieldset  {
  border-width: 2px;
}

.has-clear-button:not(.autocomplete-focused) {
  .button__clear {
    visibility: hidden;
  }

  &:hover {
    .button__clear {
      visibility: visible;
    }
  }
}
