.bl-customComponent-granim {
  width: 100%;
  height: auto;
  position: relative;

  .granim-canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .granim-content {
    position: relative;
    z-index: 2;
  }
}
