// you can use LESS variables from the current Theme and app extensions of the UI-Container
.bl-customComponent-copyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background: @buttonContainedBackground;
  color: @buttonContainedColor;
  border-radius: @buttonBorderRadius;
  border: 0;
  outline: 0;
  padding: 6px 16px;
  cursor: pointer;

  transition: 0.3s;

  &:not(.disabled) {
    &:hover {
      box-shadow: @buttonContainedShadowHover;
    }

    &:active,
    &:focus {
      box-shadow: @buttonContainedShadowActive;
    }
  }

  &.copied {
    background: darken(@buttonContainedBackground, 15%);
    cursor: auto;
  }

  &.disabled {
    background: @buttonContainedDisabledBackground;
    color: @buttonContainedDisabledColor;
    cursor: auto;
  }

  .icon {
    height: 14px;
    width: 14px;
  }
}
