@bl-customComponent-alert-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
@bl-customComponent-alert-fontWeight: 400;
@bl-customComponent-alert-fontSize: 12.8px;
@bl-customComponent-alert-textColor: @appTextColor;
@bl-customComponent-alert-padding: 6px 16px;
@bl-customComponent-alert-borderRadius: 4px;

@bl-customComponent-alert-titleSize: 16px;
@bl-customComponent-alert-title-margin: -2px 0 8px 0;
@bl-customComponent-alert-title-fontWeight: 600;

@bl-customComponent-alert-text-fontWeight: 500;

@bl-customComponent-alert-openAnimation: alert-open linear forwards;
@bl-customComponent-alert-closeAnimation: alert-close linear forwards;

@bl-customComponent-alert-content-padding: 8px 0;

@bl-customComponent-alert-buttonContainer-padding: 4px 0 0 16px;
@bl-customComponent-alert-buttonContainer-margin: 0 -8px 0 auto;

@bl-customComponent-alert-filled-color: #fff;
@bl-customComponent-alert-filled-icon-fill: #fff;

@bl-customComponent-alert-outline-border: 1px solid;
@bl-customComponent-alert-outline-backgroundColor: transparent;

@bl-customComponent-alert-closeButton-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
@bl-customComponent-alert-closeButton-backgroundColor: transparent;
@bl-customComponent-alert-closeButton-backgroundColor-hover: rgba(0, 0, 0, 0.04);
@bl-customComponent-alert-closeButton-cursor: pointer;
@bl-customComponent-alert-closeButton-borderRadius: 50%;
@bl-customComponent-alert-closeButton-padding: 5px;
@bl-customComponent-alert-closeButtonSize: 18px;

@bl-customComponent-alert-iconSize: 22px;
@bl-customComponent-alert-icon-padding: 7px 0;
@bl-customComponent-alert-icon-marginRight: 12px;
@bl-customComponent-alert-icon-opacity: 0.9;

@bl-customComponent-alert-errorBackgroundColor: if(luma(@appBackgroundColor) < 50%, darken(#fdeded, 90%), #fdeded);
@bl-customComponent-alert-warningBackgroundColor: if(luma(@appBackgroundColor) < 50%, darken(#fff4e5, 90%), #fff4e5);
@bl-customComponent-alert-infoBackgroundColor: if(luma(@appBackgroundColor) < 50%, darken(#e5f6fd, 90%), #e5f6fd);
@bl-customComponent-alert-successBackgroundColor: if(luma(@appBackgroundColor) < 50%, darken(#edf7ed, 90%), #edf7ed);

@bl-customComponent-alert-errorTextColor: if(luma(@appBackgroundColor) > 50%, darken(#ef5350, 40%), lighten(#ef5350, 28%));
@bl-customComponent-alert-warningTextColor: if(luma(@appBackgroundColor) > 50%, darken(#ff9800, 30%), lighten(#ff9800, 28%));
@bl-customComponent-alert-infoTextColor: if(luma(@appBackgroundColor) > 50%, darken(#03a9f4, 30%), lighten(#03a9f4, 28%));
@bl-customComponent-alert-successTextColor: if(luma(@appBackgroundColor) > 50%, darken(#4caf50, 30%), lighten(#4caf50, 28%));

@bl-customComponent-alert-errorPrimaryColor: #ef5350;
@bl-customComponent-alert-warningPrimaryColor: #ff9800;
@bl-customComponent-alert-infoPrimaryColor: #03a9f4;
@bl-customComponent-alert-successPrimaryColor: #4caf50;

.text-types-mixin() {
  &--error {
    color: @bl-customComponent-alert-errorTextColor;
  }
  &--warning {
    color: @bl-customComponent-alert-warningTextColor;
  }
  &--info {
    color: @bl-customComponent-alert-infoTextColor;
  }
  &--success {
    color: @bl-customComponent-alert-successTextColor;
  }
}

.button-icon-mixin(@size, @color) {
  height: @size;
  width: @size;
  fill: @color;
}

.bl-customComponent-alert {
  .alert {
    display: flex;
    border-radius: @bl-customComponent-alert-borderRadius;

    padding: @bl-customComponent-alert-padding;

    font-family: @bl-customComponent-alert-fontFamily;
    font-weight: @bl-customComponent-alert-fontWeight;
    font-size: @bl-customComponent-alert-fontSize;

    line-height: 1.43;
    letter-spacing: 0.01071em;

    &__icon {
      display: flex;

      margin-right: @bl-customComponent-alert-icon-marginRight;
      padding: @bl-customComponent-alert-icon-padding;

      opacity: @bl-customComponent-alert-icon-opacity;

      &-svg {
        height: @bl-customComponent-alert-iconSize;
        width: @bl-customComponent-alert-iconSize;
      }
    }

    &__content {
      padding: @bl-customComponent-alert-content-padding;
    }

    &__title {
      display: inline-block;

      font-weight: @bl-customComponent-alert-title-fontWeight;
      font-size: @bl-customComponent-alert-titleSize;

      line-height: 1.5;

      margin: @bl-customComponent-alert-title-margin;

      .text-types-mixin()
    }

    &__text {
      display: block;
      min-width: 0;
      overflow: auto;
      font-weight: @bl-customComponent-alert-text-fontWeight;

      .text-types-mixin()
    }

    &__close-button {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: @bl-customComponent-alert-closeButton-backgroundColor;
      border-radius: @bl-customComponent-alert-closeButton-borderRadius;
      cursor: @bl-customComponent-alert-closeButton-cursor;

      outline: 0;
      border: 0;

      margin: 0;
      padding: @bl-customComponent-alert-closeButton-padding;

      transition: @bl-customComponent-alert-closeButton-transition;

      &:hover {
        background-color: @bl-customComponent-alert-closeButton-backgroundColor-hover;
      }

      &-icon {
        .button-icon-mixin(@bl-customComponent-alert-closeButtonSize, @bl-customComponent-alert-textColor)
      }
    }

    &--error {
      background-color: @bl-customComponent-alert-errorBackgroundColor;
    }

    &--warning {
      background-color: @bl-customComponent-alert-warningBackgroundColor;
    }

    &--info {
      background-color: @bl-customComponent-alert-infoBackgroundColor;
    }

    &--success {
      background-color: @bl-customComponent-alert-successBackgroundColor;
    }
  }

  .alert-filled {
    color: @bl-customComponent-alert-filled-color;

    &--error {
      background-color: @bl-customComponent-alert-errorPrimaryColor;
    }

    &--warning {
      background-color: @bl-customComponent-alert-warningPrimaryColor;
    }

    &--info {
      background-color: @bl-customComponent-alert-infoPrimaryColor;
    }

    &--success {
      background-color: @bl-customComponent-alert-successPrimaryColor;
    }

    &__icon-svg {
      fill: @bl-customComponent-alert-filled-icon-fill;
    }

    &__close-button-icon {
      .button-icon-mixin(@bl-customComponent-alert-closeButtonSize, #fff)
    }
  }

  .alert-outline {
    border: @bl-customComponent-alert-outline-border;
    background-color: @bl-customComponent-alert-outline-backgroundColor;

    &__close-button-icon {
      .button-icon-mixin(@bl-customComponent-alert-closeButtonSize, @bl-customComponent-alert-textColor)
    }

    &--error {
      border-color: @bl-customComponent-alert-errorPrimaryColor;
    }

    &--warning {
      border-color: @bl-customComponent-alert-warningPrimaryColor;
    }

    &--info {
      border-color: @bl-customComponent-alert-infoPrimaryColor;
    }

    &--success {
      border-color: @bl-customComponent-alert-successPrimaryColor;
    }
  }

  .button-container {
    display: flex;
    align-items: center;
    padding: @bl-customComponent-alert-buttonContainer-padding;
    margin: @bl-customComponent-alert-buttonContainer-margin;
  }

  .alert-open {
    overflow: hidden;
    animation: @bl-customComponent-alert-openAnimation;
  }

  @keyframes alert-open {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }

  .alert-close {
    overflow: hidden;
    animation: @bl-customComponent-alert-closeAnimation;
  }

  @keyframes alert-close {
    0% {
      height: 100%;
    }
    100% {
      height: 0;
      padding: 0 16px;
      border: 0 solid inherit;
    }
  }
}
