@bl-customComponent-videoRecorder-video-background: black;

.bl-customComponent-videoRecorder {
  margin: 0 auto;

  .video {
    background: @bl-customComponent-videoRecorder-video-background;
  }
}
