@bl-customComponent-pdfViewer-themeColor: @themePrimary;
@bl-customComponent-pdfViewer-themeTextColor: @appTextColor;

@bl-customComponent-pdfViewer-margin-bottom: 10px;

@bl-customComponent-pdfViewer-button-icon-size: 16px;
@bl-customComponent-pdfViewer-button-icon-color: contrast(@buttonContainedBackground);
@bl-customComponent-pdfViewer-button-height: 20px;
@bl-customComponent-pdfViewer-button-width: 60px;

@bl-customComponent-pdfViewer-input-background-color: fade(@bl-customComponent-pdfViewer-themeColor, 20%);
@bl-customComponent-pdfViewer-input-height: 16px;
@bl-customComponent-pdfViewer-input-width: 40px;
@bl-customComponent-pdfViewer-input-max-width: 100%;
@bl-customComponent-pdfViewer-input-font-size: 16px;

@bl-customComponent-pdfViewer-no-data-icon-size: 40px;
@bl-customComponent-pdfViewer-no-data-background-color: #aaa;
@bl-customComponent-pdfViewer-no-data-font-color: #fff;
@bl-customComponent-pdfViewer-no-data-font-size: 24px;
@bl-customComponent-pdfViewer-no-data-font-weight: bold;
@bl-customComponent-pdfViewer-no-data-text-align: center;

.bl-customComponent-pdfViewer {
  display: flex;
  flex-direction: column;

  color: @bl-customComponent-pdfViewer-themeTextColor;

  .controls {
    display: flex;
    justify-content: space-between;
  }

  .controls-button {
    padding: 0;
    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: @bl-customComponent-pdfViewer-button-height;
    width: @bl-customComponent-pdfViewer-button-width;

    fill: @bl-customComponent-pdfViewer-button-icon-color;

    border-radius: 4px;
    background-color: @bl-customComponent-pdfViewer-themeColor;

    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }

  .pdf-viewer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: auto;

    margin-bottom: @bl-customComponent-pdfViewer-margin-bottom;
  }

  .page-input {
    outline: 0;
    border: 0;

    width: @bl-customComponent-pdfViewer-input-width;
    max-width: @bl-customComponent-pdfViewer-input-max-width;

    color: @bl-customComponent-pdfViewer-themeTextColor;

    padding: 0 1px 0 0;

    height: @bl-customComponent-pdfViewer-input-height;

    text-align: center;
    font-size: @bl-customComponent-pdfViewer-input-font-size;

    background-color: @bl-customComponent-pdfViewer-input-background-color;

    &:disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }

  .controls-button-icon {
    height: @bl-customComponent-pdfViewer-button-icon-size;
    width: @bl-customComponent-pdfViewer-button-icon-size;
  }

  .react-pdf__Page {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
  }

  .react-pdf__message--no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    background-color: @bl-customComponent-pdfViewer-no-data-background-color;
  }

  .no-data-text {
    text-align: @bl-customComponent-pdfViewer-no-data-text-align;

    font-size: @bl-customComponent-pdfViewer-no-data-font-size;
    font-weight: @bl-customComponent-pdfViewer-no-data-font-weight;

    color: @bl-customComponent-pdfViewer-no-data-font-color;
  }

  .no-data-icon {
    fill: @bl-customComponent-pdfViewer-themeTextColor;
    width: @bl-customComponent-pdfViewer-no-data-icon-size;
    height: @bl-customComponent-pdfViewer-no-data-icon-size;
  }
}
