@import 'snow';

@bl-customComponent-richEditor-themeColor: @themePrimary;
@bl-customComponent-richEditor-backgroundColor: @appBackgroundColor;
@bl-customComponent-richEditor-textColor: @appTextColor;
@bl-customComponent-richEditor-disabledColor: @disabledColor;

@bl-customComponent-richEditor-button-color: @bl-customComponent-richEditor-themeColor;

@bl-customComponent-richEditor-editor-fontSize: 14px;
@bl-customComponent-richEditor-editor-fontFamily: Arial, sans-serif;
@bl-customComponent-richEditor-editor-borderWidth: 0px;
@bl-customComponent-richEditor-editor-height: auto;
@bl-customComponent-richEditor-editor-placeholder-color: fade(@bl-customComponent-richEditor-textColor, 60%);
@bl-customComponent-richEditor-editor-image-width: auto;
@bl-customComponent-richEditor-editor-image-height: auto;
@bl-customComponent-richEditor-editor-video-width: auto;
@bl-customComponent-richEditor-editor-video-height: auto;

@bl-customComponent-richEditor-toolbar-borderWidth: 0px;
@bl-customComponent-richEditor-toolbar-fontPicker-label-paddingRight: 18px;

@bl-customComponent-richEditor-borderWidth: 0px;
@bl-customComponent-richEditor-borderStyle: solid;
@bl-customComponent-richEditor-borderColor: #ccc;
@bl-customComponent-richEditor-border: @bl-customComponent-richEditor-borderWidth @bl-customComponent-richEditor-borderStyle @bl-customComponent-richEditor-borderColor;

@bl-customComponent-richEditor-toolbar-tooltip-backgroundColor: #000000;
@bl-customComponent-richEditor-toolbar-tooltip-textColor: #ffffff;
@bl-customComponent-richEditor-toolbar-tooltip-fontSize: 12px;
@bl-customComponent-richEditor-toolbar-tooltip-padding: 0.5em;
@bl-customComponent-richEditor-toolbar-tooltip-borderRadius: 0.4em;
@bl-customComponent-richEditor-toolbar-tooltip-position-bottom: -120%;
@bl-customComponent-richEditor-toolbar-tooltip-position-left: -5px;
@bl-customComponent-richEditor-toolbar-tooltip-zIndex: 9999;

@bl-customComponent-richEditor-toolbar-tooltip-bold: "Bold";
@bl-customComponent-richEditor-toolbar-tooltip-italic: "Italic";
@bl-customComponent-richEditor-toolbar-tooltip-underline: "Underline";
@bl-customComponent-richEditor-toolbar-tooltip-strike: "Strikethrough";
@bl-customComponent-richEditor-toolbar-tooltip-redo: "Redo";
@bl-customComponent-richEditor-toolbar-tooltip-undo: "Undo";
@bl-customComponent-richEditor-toolbar-tooltip-font: "Font";
@bl-customComponent-richEditor-toolbar-tooltip-size: "Font size";
@bl-customComponent-richEditor-toolbar-tooltip-color: "Text color";
@bl-customComponent-richEditor-toolbar-tooltip-background: "Background color";
@bl-customComponent-richEditor-toolbar-tooltip-left: "Left align";
@bl-customComponent-richEditor-toolbar-tooltip-center: "Center align";
@bl-customComponent-richEditor-toolbar-tooltip-right: "Right align";
@bl-customComponent-richEditor-toolbar-tooltip-justify: "Justify";
@bl-customComponent-richEditor-toolbar-tooltip-link: "Insert link";
@bl-customComponent-richEditor-toolbar-tooltip-image: "Insert image";
@bl-customComponent-richEditor-toolbar-tooltip-video: "Insert video";
@bl-customComponent-richEditor-toolbar-tooltip-list-ordered: "Numbered list";
@bl-customComponent-richEditor-toolbar-tooltip-list-bullet: "Bulleted list";
@bl-customComponent-richEditor-toolbar-tooltip-heading-1: "Heading 1";
@bl-customComponent-richEditor-toolbar-tooltip-heading-2: "Heading 2";
@bl-customComponent-richEditor-toolbar-tooltip-blockquote: "Quote";
@bl-customComponent-richEditor-toolbar-tooltip-code-block: "Code";
@bl-customComponent-richEditor-toolbar-tooltip-script-sub: "Subscript";
@bl-customComponent-richEditor-toolbar-tooltip-script-super: "Superscript";
@bl-customComponent-richEditor-toolbar-tooltip-direction: "Text direction";
@bl-customComponent-richEditor-toolbar-tooltip-clean: "Clear formatting";

.bl-customComponent-rich-editor {
  display: flex;
  flex-direction: column;
  border: @bl-customComponent-richEditor-border;

  #editor {
    font-family: @bl-customComponent-richEditor-editor-fontFamily;
    font-size: @bl-customComponent-richEditor-editor-fontSize;
    border-width: @bl-customComponent-richEditor-editor-borderWidth;
    height: @bl-customComponent-richEditor-editor-height;

    pre {
      background: @bl-customComponent-richEditor-disabledColor;
      color: contrast(@bl-customComponent-richEditor-disabledColor);
    }

    .ql-editor {
      img {
        width: @bl-customComponent-richEditor-editor-image-width;
        height: @bl-customComponent-richEditor-editor-image-height;
      }

      .ql-video {
        width: @bl-customComponent-richEditor-editor-video-width;
        height: @bl-customComponent-richEditor-editor-video-height;
      }

      &.ql-blank::before {
        color: @bl-customComponent-richEditor-editor-placeholder-color;
      }
    }
  }

  #toolbar-container {
    border-color: @bl-customComponent-richEditor-borderColor;
    border-style: @bl-customComponent-richEditor-borderStyle;
    border-width: @bl-customComponent-richEditor-toolbar-borderWidth;

    &.active-tooltips .ql-formats {
      button {
        position: relative;
      }

      > button, span {
        &:hover::after {
          position: absolute;
          font-family: @bl-customComponent-richEditor-editor-fontFamily;
          font-size: @bl-customComponent-richEditor-toolbar-tooltip-fontSize;
          background: @bl-customComponent-richEditor-toolbar-tooltip-backgroundColor;
          color: @bl-customComponent-richEditor-toolbar-tooltip-textColor;
          white-space: nowrap;
          padding: @bl-customComponent-richEditor-toolbar-tooltip-padding;
          border-radius: @bl-customComponent-richEditor-toolbar-tooltip-borderRadius;
          bottom: @bl-customComponent-richEditor-toolbar-tooltip-position-bottom;
          left: @bl-customComponent-richEditor-toolbar-tooltip-position-left;
          z-index: @bl-customComponent-richEditor-toolbar-tooltip-zIndex;
        }
      }

      @common-tooltips: bold, italic, underline, strike, undo, redo, link, image, video, blockquote, code-block, direction, clean;
      @picker-tooltips: font, size, color, background;
      @list-tooltips: ordered, bullet;
      @header-tooltips: "1", "2";
      @script-tooltips: sub, super;
      @align-tooltips: {
        left: "";
        center: center;
        right: right;
        justify: justify;
      }

      each(@common-tooltips, {
        .ql-@{value}:hover::after {
          @content: "bl-customComponent-richEditor-toolbar-tooltip-@{value}";

          content: @@content;
        }
      });

      each(@picker-tooltips, {
        .ql-@{value}:not(.ql-expanded):hover::after {
          @content: "bl-customComponent-richEditor-toolbar-tooltip-@{value}";

          content: @@content;
        }
      });

      each(@align-tooltips, {
        .ql-align[value=@{value}]:hover::after {
          @content: "bl-customComponent-richEditor-toolbar-tooltip-@{key}";

          content: @@content;
        }
      });

      each(@list-tooltips, {
        .ql-list[value=@{value}]:hover::after {
          @content: "bl-customComponent-richEditor-toolbar-tooltip-list-@{value}";

          content: @@content;
        }
      });

      each(@header-tooltips, {
        .ql-header[value=@{value}]:hover::after {
          @content: "bl-customComponent-richEditor-toolbar-tooltip-heading-@{value}";

          content: @@content;
        }
      });

      each(@script-tooltips, {
        .ql-script[value=@{value}]:hover::after {
          @content: "bl-customComponent-richEditor-toolbar-tooltip-script-@{value}";

          content: @@content;
        }
      });
    }

    .ql-picker.ql-font .ql-picker-label {
      padding-right: @bl-customComponent-richEditor-toolbar-fontPicker-label-paddingRight;

      &::before {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .ql-stroke {
      stroke: @bl-customComponent-richEditor-textColor;
    }

    .ql-fill {
      fill: @bl-customComponent-richEditor-textColor;
    }

    .ql-picker {
      color: @bl-customComponent-richEditor-textColor;

      .ql-picker-options {
        background-color: @bl-customComponent-richEditor-backgroundColor;
      }

      .ql-picker-item {
        color: @bl-customComponent-richEditor-textColor;
      }
    }

    .ql-undo, .ql-redo {
      display: flex;
      align-items: center;
      color: @bl-customComponent-richEditor-textColor;
    }

    @media (hover: hover) {
      button:hover,
      .ql-picker-label:hover,
      .ql-picker-item:hover {
        color: @bl-customComponent-richEditor-button-color;
      }

      button:hover .ql-fill,
      .ql-picker-label:hover .ql-fill,
      .ql-picker-item:hover .ql-fill {
        fill: @bl-customComponent-richEditor-button-color;
      }

      button:hover .ql-stroke,
      .ql-picker-label:hover .ql-stroke,
      .ql-picker-item:hover .ql-stroke {
        stroke: @bl-customComponent-richEditor-button-color;
      }
    }

    button:focus,
    button.ql-active,
    .ql-picker-label.ql-active,
    .ql-picker-item.ql-selected {
      color: @bl-customComponent-richEditor-button-color;
    }

    button:focus .ql-fill,
    button.ql-active .ql-fill,
    .ql-picker-label.ql-active .ql-fill,
    .ql-picker-item.ql-selected .ql-fill {
      fill: @bl-customComponent-richEditor-button-color;
    }

    button:focus .ql-stroke,
    button.ql-active .ql-stroke,
    .ql-picker-label.ql-active .ql-stroke,
    .ql-picker-item.ql-selected .ql-stroke {
      stroke: @bl-customComponent-richEditor-button-color;
    }
  }

  @fonts: "arial, helvetica, sans-serif", "Comic Sans MS, cursive, sans-serif", "courier new, courier, monospace",
  "georgia, palatino, serif", "helvetica, arial, sans-serif", "Lucida Sans Unicode, Lucida Grande, sans-serif",
  "andale mono, monospace", "book antiqua, palatino, serif", "impact, sans-serif",
  "tahoma, arial, helvetica, sans-serif", "terminal, monaco, monospace", "times new roman, times, serif",
  "trebuchet ms, geneva, sans-serif", "verdana, geneva, sans-serif";

  each(@fonts, {
    .ql-font span[data-value=@{value}]::before {
      @fontFamily: @{value};

      font-family: @fontFamily;
    }
  });
}
