@bl-customComponent-calendarHeatmap-themeColor: @themePrimary;
@bl-customComponent-calendarHeatmap-textColor: #aaa;

@bl-customComponent-calendarHeatmap-padding: 10px;

.bl-customComponent-calendarHeatmap {
  padding: @bl-customComponent-calendarHeatmap-padding;

  .legend {
    display: flex;
    margin-left: auto;
    color: @bl-customComponent-calendarHeatmap-textColor;
    font-size: 70%;

    .legend-container {
      display: flex;
      align-items: center;
      gap: 5px;
      margin: 1em 0 1em auto;
    }

    .legend-color-gradation {
      height: 10px;
      width: 70px;
    }
  }

  .react-calendar-heatmap text {
    font-size: 10px;
    fill: @bl-customComponent-calendarHeatmap-textColor;
  }

  .react-calendar-heatmap rect:hover {
    stroke: #555;
    stroke-width: 1px;
  }

  .color-filled {
    fill: #8cc665;
  }

  .color-cell-0,
  .color-empty {
    fill: #eeeeee;
  }

  .color-cell-1 {
    fill: lighten(@bl-customComponent-calendarHeatmap-themeColor, 25%);
  }

  .color-cell-2 {
    fill: lighten(@bl-customComponent-calendarHeatmap-themeColor, 5%);
  }

  .color-cell-3 {
    fill: darken(@bl-customComponent-calendarHeatmap-themeColor, 10%);
  }

  .color-cell-4 {
    fill: darken(@bl-customComponent-calendarHeatmap-themeColor, 20%);
  }
}
