@bl-customComponent-categoryChart-disabled-cursor: default;
@bl-customComponent-categoryChart-disabled-opacity: 0.38;

.bl-customComponent-categoryChart {
  &--disabled {
    opacity: @bl-customComponent-categoryChart-disabled-opacity;
    pointer-events: none;
    cursor: @bl-customComponent-categoryChart-disabled-cursor;
  }

  &--hidden {
    display: none;
  }
}
