@bl-customComponent-stopwatch-font-size: 16px;
@bl-customComponent-stopwatch-text-color: @appTextColor;
@bl-customComponent-stopwatch-font-family: "Lucida Console", monospace;

.bl-customComponent-stopwatch {
  display: flex;

  font-family: @bl-customComponent-stopwatch-font-family;
  font-size: @bl-customComponent-stopwatch-font-size;
  color: @bl-customComponent-stopwatch-text-color;
}
