@bl-customComponent-gallery-icon-close: 'https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/images/close.png';
@bl-customComponent-gallery-icon-loading: 'https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/images/loading.gif';
@bl-customComponent-gallery-icon-next: 'https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/images/next.png';
@bl-customComponent-gallery-icon-prev: 'https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/images/prev.png';
// expect to be able to save images locally

@import "./lightbox.less";

@bl-customComponent-gallery-image-height: 200px;
@bl-customComponent-gallery-image-border-radius: @appComponentBorderRadius;
@bl-customComponent-gallery-gap: 5px;

.bl-customComponent-lightBox {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: @bl-customComponent-gallery-gap;

  .image {
    max-width: 100%;
    height: @bl-customComponent-gallery-image-height;
    border-radius: @bl-customComponent-gallery-image-border-radius;
  }
}
